html {
  background: url("https://dl.dropboxusercontent.com/u/5444056/j_train_copyright_2013_robert_eshleman.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}
body {
  margin: 0px;
  padding: 0px;
  color: #DDDDDD;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
p {
  font-size: 16px;
}
#main {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 600px;
  padding: 5px 50px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 2px 7px 12px rgba(0,0,0,0.5);;
  background-color: rgba(0,0,0,0.6);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: left;
}
#main h1 {
  padding: 5px;
  margin: 5px;
}
#main p {
  padding: 5px;
  margin: 3px;
  word-spacing: 0.2em;
  line-height: 115%;
}
img#headshot {
  float: left;
  padding: 10px 20px 10px 10px;
}
img.round {
  display: block;
  border-radius: 50%;
}
#footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  padding: 10px 0px; /* L&R padding must be 0 b/c width=100% */
}
#footer p {
  margin: 3px 25px;
}
#footer p.left {
  position: relative;
  left: 0px;
  text-align: left;
  float:left;
}
#footer p.right {
  position: relative;
  right: 0px;
  text-align: right;
  float: right;
}
a, a:link, a:visited {
  color: #A0A0A0;
  font-size: inherit;
  font-family: inherit;
  text-decoration: underline
}
#footer a, #footer a:link, #footer a:visited {
  color: #D9D9D9;
}
a:hover {
  text-decoration: none;
}
